<h1>Songs#index</h1>
<p>Find me in app/views/songs/index.html.erb</p>


<% @songs.each do |song| %>
<tbody>

<tr>


  <%= link_to song.title, song %><br>
  <%= song.artist_name %><br>
  <%= song.release_year %><br>
  <%= song.released %><br>
  <%= song.genre %><br>
  <br>
  </tr>
</tbody>

<% end %>
