<h1>Songs#show</h1>
<p>Find me in app/views/songs/show.html.erb</p>
<label for="">Title:</label>
<%= @song.title %>
<%= @song.artist_name %>
<%= @song.release_year %>
<%= @song.released %>
<%= @song.genre %>
